<div class="row "> 
    <div class="col-md-4 background q1">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      
    </div>  
    <div class="col-md-1">

    </div>
    <div class="col-md-7 background q2">
      <h2>Discover Quotes!</h2>
      <p class="quotetxt">Find your Great Quotes here at TipyQuotes & share your favorite quotes.

      </p>
      <p class="quotetxt">Upvote and Downvote the quotes according to your satisfaction.</p>
      <div>
          <h3 class="card card-container">Quotes</h3>
      </div>
        <div class="container-fluid ">

          <div *ngFor='let quote of quotes;let i = index' >
            <div class="container ">
                <div class="row ">
                  <div class="col-md-8">
                    <p class="qtxt"><span class="btn btn-info">Quote: </span> {{quote.quotess}}  </p>
                  </div>
                  <div class="col-md-4">
                    <p class="date"> on {{quote.completeDate|date|uppercase}}</p> 
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-md-6">
                    <p class="qtxt2">Quote author: {{quote.author}} </p>
                    </div>
                  <div class="col-md-6">
                    <button class="btn btn-success" (click)='toggleDetails(i)'>View the quote Details</button>
                    <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete) = 'completeQuote($event,i)'></app-quote-detail>
                    <!--<app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>-->
                  
                  </div>
                  
                </div>
            </div>
            <hr />
          </div>

        </div>
        
        <p *ngIf='quotes.length > 5'>Your goals are too many</p>
    </div>

    
</div> 