
<div class="container quoteshow">
    <div class="row">
        <div class="col-md-12">
          <p class="qtxt2"> Posted By: {{quote.name}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="qtxt2">Quote author: {{quote.author}} </p>
          <p class="qtxt2">This quote is here for: {{quote.completeDate|dateCount}} days</p>
         
         
         
          
        </div>
        <div class="container-fluid" id="buttons">
            <button class="btn btn-info" (click)='upvote()'>{{quote.liked}} <i class="fa fa-thumbs-up" id="like"></i> Upvote</button> 
            <button class="btn btn-success" id="hate" (click)='downvote()'>{{quote.disliked}} <i class="fa fa-thumbs-down" id="dislike"></i> Downvote</button> 
            <button class="btn btn-danger"class="btn btn-sm btn-danger" id="del" (click)= 'quoteDelete(true)'><i class="fa fa-trash" id="delete"></i>Delete</button> 
          </div>
      </div>

</div>