
<div>
    <p class="formintro">You have Quotes to share, don't hesitate.</p>
    <p class="card card-container formintro">Share your Quotes</p>
    <div class="container-fluid">
        <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name='ngModel' required>
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>Name is required</p>
                </div>
            </div>
            <div class="form-group">
                <label for="quotess">Quote</label>
                <textarea class="form-control" id="quotess" rows="4" [(ngModel)]="newQuote.quotess" name="quotess" #quotess="ngModel" required></textarea>
                <div [hidden]="quotess.valid || quotess.pristine" class="alert alert-danger">
                <p>Description is required</p>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Author</label>
                <input class="form-control" id="author" rows="4" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>
                <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p>Description is required</p>
                </div>
            </div>
            <div class="form-group">
                <label for="complete">Completion</label>
                <input type='date' id="complete" [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel" required>
                <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
                <p>Date is required</p>
            </div>
            </div>
            <button type="submit" class="btn btn-success">Add Goal</button>
            </form>
      </div>
      
</div>
